#login-page {
    background-image: linear-gradient(#40a9ff, #1ED760);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#login-card {
    position: relative;
    top: calc(50vh - 144px);
    left: calc(50vw - 210px);
    padding-top: 36px;
    padding-bottom: 66px;
    width: 420px;
    text-align: center;
    /* background-image: linear-gradient(#1ED760, #40a9ff); */
    background-color: #060b26;
    border-radius: 22px;
}

.login-button {
    cursor: pointer;
    padding: 12px;
    border-radius: 8px;
}

.spotify{
    background-color: white;
    color: black;
}
